apiVersion: apps/v1
kind: Deployment
metadata:
  name: graduation
  namespace: ivolve
  labels:
    app: ivolve
spec:
  replicas: 2
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
      - name: nginx
        image: mohamedelrefy20/ivolve-graduation-image:latest
        ports:
        - containerPort: 5000